.DS_Store
/.build
/Packages
*.xcworkspace
xcuserdata/
DerivedData/
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
**/Package.resolved
/Development/docs
*.generated.swift
/.mockingbird
/project.json