.DS_Store
/.build
/build
/Packages
*.xcworkspace
xcuserdata/
DerivedData/
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
**/Package.resolved
/Development/docs

# Ignore the populated configuration file to avoid exposing secrets
Development/OpenPassDevelopmentAppUITests/configuration.json
